* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #fff;
    color: #000;
    transition: all 0.8s;
}

body.dark {
    background-color: #000;
    color: #fff;
    transition: all 0.8s;
}

button, a {
    -webkit-tap-highlight-color: transparent;
}

body {
        width: 100%;
        font-size: 30px;
    }

    header  {
        width: 100%;
        height: auto;
        padding: 8px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #A7A7A7;
    }

    header, 
    header .icons,
    header .burger {
        overflow: visible;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .logo h2 {
        font-size: 5vw;
        margin: auto;
        align-items: center;

    }

    .search {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search input {
        width: 48vw;
        height: 30px;
        font-size: 4vw;
        padding-left: 30px;
        padding-right: 50px;
        border-radius: 20px;
        background: url(image\ 16.png) no-repeat 8px center;
        background-size: 20px;
        margin-left: 0px;
        border: 1px solid black;
        outline: none;
    }

    .icons {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .icons button {
        background: none;
        background-repeat: none;
        padding: 0;
        cursor: pointer;
    }

    .icons img {
        width: 22px;
    }

    header .burger {
        display: block;
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: 0.4s;
        margin-right: 10px;
        margin-left: 5px;
    }

    header .burger:hover {
        transform: scale(1.1);
    }

    header .burger span {
        display: block;
        height: 4px;
        width: 100%;
        background: #000;
        border-radius: 5px;
        transition: 0.4s;
    }

    .burger.open span:nth-child(1) {
        transform: translateY(8px)
        rotate(45deg);
    }

    .burger.open span:nth-child(2) {
        opacity: 0;
    }

    .burger.open span:nth-child(3) {
        transform: translateY(-8px) 
        rotate(-45deg);
    }

    header .cart {
        display: none;
    }

    header .user {
        display: none;
    }

    header .menu {
        position: absolute;
        top: 45px;
        right: 10px;
        background-color: #A7A7A7;
        border: 1px solid black;
        border-radius: 10px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 20px;
        width: 90px;
        transition: 0.4s;
        opacity: 0;
    }

    header .menu.open {
        opacity: 1;
    }

    .mobile-cart,
    .mobile-user {
        background: none;
        border: none;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .mobile-cart img,
    .mobile-user img {
        width: 22px;
        margin-right: 5px; 
    }

    button.light {
        background-color: #fff;
        color: #000;
        padding: 10px 20px;
        margin: 0px 10px;
        border-radius: 20px;
        border: none;
        font-size: 10px;
        display: flex;
        justify-content: left;
        transition: all 0.8s;
    }

    button.dark {
        background-color: #000;
        color: #fff;
        padding: 10px 20px;
        margin: 0px 10px;
        border-radius: 20px;
        border: none;
        font-size: 10px;
        display: flex;
        justify-content: left;
        transition: all 0.8s;
    }

    button.light:hover,
    button.dark:hover {
        transform: scale(1.1);
    }

@media (min-width: 601px) and (max-width: 900px) {
    header .cart {
        display: block;
        border: none;
        background: none;
        transition: all 0.3s;
    }

    header .cart:hover {
        transform: scale(1.1);
    }

    header .cart img {
        width: 30px;
    }

    header .menu {
        top: 60px;
    }

    /* .mobile-cart {
        display: none;
    } */
}

@media (min-width: 901px) and (max-width: 1300px) {

    header .icons {
        gap: 2vw;
    }

    header .icons img {
        width: 40px;
    }

    header .cart,
    header .user {
        display: block;
        border: none;
        background: none;
        transition: all 0.3s;
    }

    header .cart:hover,
    header .user:hover {
        transform: scale(1.2);
    }

    header .menu {
        top: 60px;
    }

    .mobile-cart,
    .mobile-user  {
        display: none;
    }

    header .search {
        height: 50px;
        background-size: 40px;
        padding-left: 45px;
    }

    header .burger {
        display: block;
        width: 35px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: 0.4s;
        margin-right: 10px;
        margin-left: 5px;
    }

    header .burger:hover {
        transform: scale(1.1);
    }

    header .burger span {
        display: block;
        height: 6px;
        width: 100%;
        background: #000;
        border-radius: 5px;
        transition: 0.4s;
    }

    .burger.open span:nth-child(1) {
        transform: translateY(13px)
        rotate(45deg);
    }

    .burger.open span:nth-child(2) {
        opacity: 0;
    }

    .burger.open span:nth-child(3) {
        transform: translateY(-13px) 
        rotate(-45deg);
    }
}

@media (min-width: 1301px) {
    header .search {
        height: 60px;
        background-size: 50px;
        padding-left: 55px;
    }

    header .icons {
        gap: 2vw;
    }

    header .icons img {
        width: 50px;
    }

    header .cart,
    header .user {
        display: block;
        border: none;
        background: none;
        transition: all 0.3s;
    }

    header .cart:hover,
    header .user:hover {
        transform: scale(1.2);
    }

    header .menu {
        top: 80px;
        width: auto;
    }


    header .burger {
        display: block;
        width: 40px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: 0.4s;
        margin-right: 10px;
        margin-left: 5px;
    }

    header .burger:hover {
        transform: scale(1.1);
    }

    header .burger span {
        display: block;
        height: 7px;
        width: 100%;
        background: #000;
        border-radius: 5px;
        transition: 0.4s;
    }

    .burger.open span:nth-child(1) {
        transform: translateY(12px)
        rotate(45deg);
    }

    .burger.open span:nth-child(2) {
        opacity: 0;
    }

    .burger.open span:nth-child(3) {
        transform: translateY(-12px) 
        rotate(-45deg);
    }

    .mobile-cart,
    .mobile-user {
        padding: 0 15px;
        transition: all 0.4s;
    }

    .mobile-cart:hover,
    .mobile-user:hover {
        transform: scale(1.1);
    }

    .mobile-cart img,
    .mobile-user img{
        width: 40px;
    }


    button.light {
        height: 45px;
        font-size: 20px;
    }

    button.dark {
        height: 45px;
        font-size: 20px;
    }

}