* {
    margin: 0;
    padding: 0;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    font-family: "Jua", sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7A7A7;
    padding: 12px;
    float: left;
}

.logo h2 {
    font-size: 50px;
    margin-left: 138px;
}

.search input {
    padding-left: 90px;
    padding-right: 130px;
    width: 390px;
    height: 60px;
    font-size: 24px;
    border-radius: 30px;
    background: url(image\ 16.png) no-repeat 15px center;
    background-size: 50px;
    margin-left: 50px;
    border: 1px solid black;
    outline: none;
}

.icons {
    display: flex;
    margin-right: 30px;
    gap: 50px;
    margin-left: 170px;
}

.icons img {
    width: 69px;
}

.icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    display: none;
  position: absolute;
  right: 26px;
  top: 100px; /* появится прямо под header */
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu.open {
    display: block;
}

.mobile-cart {
    display: none;
}


@media (max-width: 600px) {
    header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7A7A7;
    padding: 12px;
    float: left;
    height: 50px;   
}

.logo {
    display: flex;
    align-items: center;
}

.logo h2 {
    font-size: 5.6vw;
    margin-left: 2vw;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding-left: 55px;
    padding-right: 2.3vw;
    margin-left: 6vw;
    width: 30vw;
    height: 30px;
    font-size: 5vw;
    border-radius: 30px;
    background: url(image\ 16.png) no-repeat 15px center;
    background-size: 30px;  
    border: 1px solid black;
    outline: none;
}

.icons {
    display: flex;
    margin-left: 3vw;
    width: 5vw;
    margin-left: 4vw;
}

.icons img {
    width: 6.8vw;
}

.icons button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons .cart, .icons .user {
    display: none;
}

.menu {
    display: none;
  position: absolute;
  right: 26px;
  top: 70px; /* появится прямо под header */
  background: white;
  padding: 15px 7px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu.open {
    display: block;
}

.mobile-cart {
    display: block;
}

.mobile-cart img { 
    width: 8.8vw;
}

}

