* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jua", sans-serif;
}

body {
    font-size: 25px;
    background-color: #F2F1F1;
}

a {
    text-decoration: none;
    color: inherit;
}

.sing-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D9D9D9;
    width: 330px;
    height: 420px;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 35px;
}

.login {
    margin-top: 40px;
    margin-left: 25px;
}

.login input {
    background-color: #B6B6B6;
    border: none;
    border-radius: 10px;
    width: 275px;
    height: 35px;
    font-size: 23px;
    padding-left: 10px;
}

.container button {
    width: 115px;
    height: 65px;
    background-color: #9D9D9D;
    border: none;
    border-radius: 30px;
    font-size: 40px;
    margin: auto;
    margin-right: 110px;
    transition: all 0.3s;
}

.container button:hover {
    transform: scale(1.1);
    box-shadow: 4px 3px 10px black;
    background-color: #818181;
}

.sing-up {
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

.sing-up h4 {
    font-size: 13px;
    margin-right: 7px;
}

.sing-up .register {
    font-size: 14px;
    margin-right: 15px;
    color: #5CBE51;
    transition: all 0.3s;
    cursor: pointer;
}

.sing-up .register:hover {
    transform: translateY(-3px);
}

p#email-error {
    color: red;
    font-size: 16px;
    margin-top: 5px;
    display: none;
}
